
1/.in

2/in

10/example

10/input

12/example

12/input

14/example

14/input

15/input

16/example

16/input

17/example

17/input

18/example

18/input

19/example

19/input

21/example

21/input

22/example

22/input

23/example

23/example2

23/input

24/input

24/test

3/input

4/input

5/input

6/example

6/input

7/example

7/input

8/example

8/input

9/example

9/input

13/output

20/input

20/example

11/input

11/example

13/example

13/input
